{
	"configs" : 
	[
		{
			"active" : "false",
			"className" : "cn.springmvc.plugin.CountTimesPlugin",
			"id" : "1",
			"jarRemoteUrl" : "file:E:/config/plugin-ins-1.2.jar",
			"name" : "统计方法调用次数",
			"version" : "1.2"
		},
		{
			"active" : "false",
			"className" : "cn.springmvc.plugin.MethodLogPlugin",
			"id" : "2",
			"jarRemoteUrl" : "file:E:/config/plugin-ins-1.2.jar",
			"name" : "方法执行日志",
			"version" : "1.2"
		}
		
	],
	"name" : "插件库"
}